body {
    margin: 0;
    height: 100vh;
    background: #562727;
    font-family: Arial;

    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    background: rgb(30, 25, 90);
    width: 360px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #aaa;
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

.form input, .form select {
    width: 100%;
    height: 38px;
    color: black;
    margin-bottom: 10px;
    padding: 5px;
}

button {
    width: 100%;
    height: 38px;
    background: #2d89ef;
    color: rgb(45, 32, 32);
    border: none;
    cursor: pointer;
}

.total {
    text-align: center;
    font-weight: bold;
    margin: 15px 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    background: #9d6f6f;
    padding: 8px;
    margin-bottom: 5px;
}

li button {
    background: red;
    color: white;
    border: none;
    padding: 2px 6px;
    cursor: pointer;
}
