*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background:#002339;
    color:#fff;
}

.container{
    margin: 12%;
    width: 90%;
    max-width: 700px;
}

.container h2{
    font-size: 35px;
    font-weight: 600;
}

.container h2 span{
    color: #00ff9d;
    border-bottom: 3px solid #00ff9d;
    padding-bottom: 7px;
}

.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 5px;
}

.display input{
    width: 100%;
    border: none;
    outline: none;
    font-size: 22px;
}

.display img{
    width: 24px;
    cursor: pointer;
}

button{
    background: #00ff9d;
    color: #002339;
    border: none;
    outline: none;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
