* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f8fafc;
    color: #333;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.navbar nav a {
    margin-right: 20px;
    text-decoration: none;
    color: #555;
}

.logo {
    color: #4f46e5;
}

/* Buttons */
.btn, .btn-primary {
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn {
    background: #e0e7ff;
    color: #4f46e5;
}

.btn-primary {
    background: #4f46e5;
    color: white;
}

/* Hero */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 60px;
}

.hero-text {
    max-width: 500px;
}

.hero-text h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #555;
}

.mockup {
    width: 300px;
    height: 200px;
    background: #e0e7ff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    font-weight: bold;
    color: #4f46e5;
}


.features {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 60px;
}

.feature-card {
    background: white;
    padding: 30px;
    width: 250px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}


.cta {
    background: #4f46e5;
    color: white;
    text-align: center;
    padding: 60px 20px;
}

.cta h2 {
    margin-bottom: 20px;
}

.footer {
    text-align: center;
    padding: 20px;
    background: white;
    color: #777;
}
